allow-same-version=true
init-author-name=masterzeeno
init-author-email=zeenoliev@gmail.com
init-author-url=https://github.com/MasterZeeno
init-version=0.0.1
init-license=MIT
access=public
editor=nano
foreground-scripts=true
fund=false
audit=false
color=always